{
  "extends": "standard",
  "rules": {
    "semi": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "object-curly-newline": ["error", { "multiline": true }],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }]
  },
  "env": {
    "mocha": true,
    "jquery": true
  }
}